@import '../../../Global/GlobalStyles.scss';

.middle-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   

    a {
      &:visited {
        color: black;
      }  
    }
    
    .inner-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40rem;
        margin: 1em 0;
        position: relative;
    
        gap: 1em;

        .carousel {
            display: flex;
            position: relative;
            max-width: 640px;
            height: 250px;
            gap: 0.5em;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            
            .button-next, .button-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                position: absolute;
                top: 45%;
                z-index: 102;
                background-color: white;
                padding: 1.5em;
                cursor: pointer;
    
                svg {
                    height: 1.5em;
                    width: 1.5em;
                    position: absolute;
                    fill: hsl(0, 0%, 45%);
                }
    
                &:hover {
                    filter: brightness(0.95);
                }
            }

            .button-prev {
                left: 1em;
    
                svg {
                    left: 0.6em;
                }
            }

            .visible {
                display: flex;
            }

            .move-left {
                left: -2em;
            }
    
            .button-next {
                right: 1em;
                
                svg {
                    right: 0.6em;
                }
            }
    
            .story-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 142px;
                height: 250px;
                position: relative;
                border-radius: 0.5em;
                padding: 0.5em;
                background-color: white;
                transition: filter 0.3s ease-in-out;
                flex-shrink: 0;
                overflow: hidden;
                cursor: pointer;
    
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 30%;
                    background: linear-gradient(transparent, #222 170%);
                    z-index: 101;
                    border-bottom-left-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;
                  }
    
                &:hover {
                    filter: brightness(0.9);
                    
                    .story-image {
                        scale: 1.1;
                    }
                }
    
                .story-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;

                    border-radius: 0.5em;

                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    transition: scale 0.2s ease-in-out;
                }
    
                .profile-picture {
                    width: 2.9em;
                    height: 2.9em;
                    position: absolute;
                    top: 1em;
                    left: 1em;
                    z-index: 101;
                    border-radius: 100%;
                    object-fit: cover;
                }
    
                .active {
                    width: 2.5em;
                    height: 2.5em;
                    border: 0.3em solid #075ce6;
                }
    
                .disabled {
                    border: 0.3em solid transparent;
                }
    
                .story-username {
                    position: absolute;
                    z-index: 102;
                    bottom: 0;
                    left: 0.7em;
                    bottom: 0.5em;
                    color: white;
                    white-space: normal;  // Allows text to wrap onto the next line
                    overflow-wrap: break-word;  // Ensures long words break and wrap onto the next line
                    text-overflow: clip;  // Ensures text does not get clipped or ellipsized
                    max-width: calc(80% - 2em);  // Adjust max-width to fit within the container
                    font-size: $medium;
                }
            }

            .user-story-container {
                position: relative;
                display: flex;
                flex-direction: column;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 30%;
                    background: transparent;
                    z-index: 101;
                    border-bottom-left-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;
                }

                .user-profile {
                    display: block;

                    width: 142px;
                    height: 100%;

                    margin-top: -0.5em;

                    object-fit: cover;
                    transition: scale 0.2s ease-in-out;
                }

                .create-story {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;

                    width: 100%;
                    height: 30%;

                    background-color: white;

                    button {
                        position: absolute;
                        top: -1.1em;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 2.7em;
                        width: 2.7em;

                        padding: 0.1em;
                        border: 4px solid white;
                        border-radius: 100%;

                        background-color: $blue;

                        svg {
                            height: 2em;
                            width: 2em;
                            
                            color: white;
                        }
                    }
                }
            }
        }

        
        
    }


    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: white;

        .content-top-container, .content-bottom-container, .item { 
            display: flex;
        }

        .content-top-container {
            gap: 0.5em;
            margin-bottom: 0.3em;

            .button-container {
                background-color: #f0f2f5;
                width: 100%;
                padding: 0.5em 0 0.5em 0.7em;
                border-radius: 2em;
                display: flex;
                align-items: center;
                cursor: pointer;
                
                span {
                    @include set-font-size("medium");
                    color: hsl(220, 3%, 50%);
                    
                }
            }

            img, svg {
                height: 2.5em;
                width: 2.5em;

                border-radius: 100%;
            }
        }

        .content-bottom-container {
            gap: 0.2em;

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding: 0.5em 0em;
                border-radius: 0.5em;

                gap: 0.5em;

                .icon {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 1.5em;
                        height: 1.5em;
                    }
                }

                .video {
                    svg {
                        fill: #f02849;
                    }
                }

                .images {
                    svg {
                        fill: #45bd62;
                    }
                }

                .smile {
                    svg {
                        fill: #f7b928;
                    }
                }

                &:hover {
                    background-color: rgba(128, 128, 128, 0.15);
                }

                span {
                    @include set-font-size("medium");
                    color: #6f7276;
                }
            }
        }
        
    }
}