@import '../../../Global/GlobalStyles.scss';

.posts {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content {
    margin-bottom: -0.5em;

    .post-top-container {
        display: flex;
        flex-direction: column;

        .post-top-container-top {
            display: flex;
            align-items: center;

            .post-top-left {
                display: flex;
    
                .post-top-left-profile {
                    position: relative;
    
                    img {
                        height: 2.5rem;
                        width: 2.5rem;
                        border-radius: 100%;
                        object-fit: cover;
                    }
    
                    margin-right: 0.5em;
    
                    .online-dot {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 102;
    
                        height: 1em;
                        width: 1em;
                        border: 3px solid white;
                        border-radius: 100%;
    
                        background-color: $online-green;
                    }
                }
    
                .post-top-left-text {
                    display: flex;
                    flex-direction: column;

                    .time-posted {
                        font-size: $small;
                        color: $gray-text-dark;
                    }
                }
            }

            .post-top-right {
                display: flex;
                align-items: flex-start;

                margin-left: auto;

                .icon-container {
                    display: flex;

                    padding: 0.4em;
                    border-radius: 100%;
                    margin-bottom: 0.5em;

                    &:hover {
                        background-color: $hover-white;
                    }

                    svg {
                        height: 1.3em;
                        width: 1.3em;
                        color: $gray-text-dark;
                    }
                }
            }
        }

        .post-top-container-bottom {
            .post-description {
                padding: 0.5em 0;
                font-size: $m-l;
            }
        }
    }

    .post-bottom-container {

        .post-bottom-image {
            margin: 0 -1em;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            .border-line {
                margin-top: -0.25em;
                padding-top: 0;
                padding-bottom: 0.3em;
            }
        }

        .like-share-display {
            display: flex;
            align-items: center;

            padding: 0.3em 0;

            gap: 1em;

            .post-likes {
                display: flex;

                .like-icons {

                    position: relative;

                    .users-that-liked {
                        position: absolute;
                        top: 1.5em;

                        display: flex;
                        flex-direction: column;
                        gap: 0.2em;

                        padding: 0.5em;
                        border-radius: 0.5em;

                        z-index: 1000;

                        color: white;
                        background-color: rgb(60, 60, 60, 0.9);
                        

                        .liked-user-display {
                            font-size: $xs-s;
                            width: 100%;
                        }
                    }
                }
            }

            .count {
                display: flex;
                align-items: center;

                color: $gray-text-dark;
                font-size: $medium;
            }


            .comment-and-share {
                display: flex;

                margin-left: auto;
            }
        }

        .border-line {
            padding-top: 0.3em;
            padding-bottom: 0.3em;
        }

        .post-buttons {
            display: flex;
            align-items: center;
            

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                padding: 0.25em;
                border-radius: 0.25em;

                gap: 0.3em;

                &:hover {
                    background-color: $hover-white;
                }

                svg {
                    width: 1.3em;
                    height: 1.3em;
                    color: $gray-text-dark;
                }

                span {
                    margin-top: 0.2em;
                    color: $gray-text-dark;
                    font-size: $m-l;
                    font-weight: 500;
                }
            }

            .like-btn.liked {
                @keyframes likeAnimation {
                    from {
                        transform: rotate(270deg);
                    }

                    to {
                        transform: rotate(0deg);
                    }
                }

                svg {
                    color: #0064ff;

                    animation-name: likeAnimation;
                    animation-duration: 900ms;
                }

                span {
                    color: #0064ff;
                }
            }
        }

        .post-write-comment {
            display: flex;
            align-items: center;

            padding-top: 0.3em;

            .post-comment-left {
                position: relative;

                

                img {
                    height: $xl;
                    width: $xl;
                    border-radius: 100%;
                    object-fit: cover;

                    &:hover {
                        filter: brightness(0.93);
                    }
                }

                .caret-container {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    svg {
                        width: 0.8em;
                        height: 0.8em;

                        border-radius: 100%;
                        background-color: white;
                    }
                }
            }

            .post-comment-right {
                display: flex;
                align-items: center;

                background-color: #f0f2f5;

                width: 100%;

                margin-left: 0.5em;
                padding: 0.5em 0.7em;
                border-radius: 1.25em;

                input {
                    margin-right: 0.2em;
                    border: none;

                    background-color: transparent;

                    width: 100%;
                    height: 1.5em;

                    font-size: $medium;

                    &:focus {
                        outline: none;
                    }
                }

                .comment-btns {
                    display: flex;
                    align-items: center;

                    gap: 0.7em;

                    svg {
                        color: $gray-text2;

                        &:hover {
                            background-color: $hover-white;
                            scale: 1.1;
                        }
                    }
                }
            }
        }
    }
}