@import '../../../Global/components/Contacts/Contacts.scss';

.right-side-nav-container {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin-top: 1em;
    height: 90vh;
    overflow-y: auto;

    .border-line {
        padding-left: 0.3em;
        width: 100%;
    }

    position: fixed;
    right: 0;
    
}