@import '../../../Global/components/Contacts/Contacts.scss';

.right-side-nav-container {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin-top: 1em;
    height: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    
    &:hover {
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .border-line {
        padding-left: 0.3em;
        width: 100%;
    }

    position: fixed;
    right: 0;
    
}