@import '../../../Global/components/Contacts/Contacts.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin-top: 1em;

    .border-line {
        padding-left: 0.3em;
        width: 100%;
    }
}