* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

    font-family: sans-serif;
}

body {
    background-color: #f0f2f5;
}

html {
  height: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
-moz-focus-inner {
  border: 0;
  padding: 0;
}

$shadow-dark: rgba(0, 0, 0, 0.2) 0px 1px 10px;
$shadow-dark-topless: rgba(0, 0, 0, 0.2) 0px 4px 10px;
$shadow-light : rgba(0, 0, 0, 0.16) 0px 1px 4px;

$a-blue: #385898;
$hover-white: #f2f2f2;
$gray: #e6e7e9;
$blue: #0866ff;
$green: #42b72a;
$background: #f2f4f7;
$button: #f5f6f7;
$button-gray: #e4e6eb;
$input-gray: #f0f2f5;
$button-hover: #d9dbdf;
$icon-gray: #808080;
$gray-text: #c2c4c9;
$gray-text2: #737373;
$gray-text3: #8a8d91;
$gray-text-dark: #606770;
$border-black: #00000033;

//Screen Sizes//

$mobile: 300px;
$tablet: 768px;
$large-desktop: 1200px;

$breakpoints: (
  "small": (
    min-width: $mobile,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $large-desktop,
  ),
); 

@mixin responsive($size) {
    $query: map-get($breakpoints, $size);
  
      @media #{$query} {
        @content;
    }
}

//Fonts//

$xs: 0.75rem;

$small: 0.875rem;

$medium: 0.95rem;

$m-l: 1em;

$large: 1.2rem;

$xl: 2em;

$xxl: 3em;

$font-sizes: (
  "xs": (
    font-size: $xs,
    ),
  "small": (
    font-size: $small,
    ),
  "medium": (
    font-size: $medium,
    ),
  "large": (
    font-size: $large,
  ),
);

@mixin set-font-size($size-key) {
    $font-size: map-get($font-sizes, $size-key);
    @if $font-size {
      font-size: map-get($font-size, font-size);
    } @else {
      @warn "Font size '#{$size-key}' not found in map.";
    }
  }