* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

    font-family: sans-serif;
}

body {
    background-color: #f0f2f5;
}

html {
  height: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
-moz-focus-inner {
  border: 0;
  padding: 0;
}

$gray: #6f7276;

//Screen Sizes//

$mobile: 300px;
$tablet: 768px;
$large-desktop: 1200px;

$breakpoints: (
  "small": (
    min-width: $mobile,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $large-desktop,
  ),
); 

@mixin responsive($size) {
    $query: map-get($breakpoints, $size);
  
      @media #{$query} {
        @content;
    }
}

//Fonts//

$xs: 0.75rem;

$small: 0.875rem;

$medium: 0.95rem;

$large: 1.2rem;

$font-sizes: (
  "xs": (
    font-size: $xs,
    ),
  "small": (
    font-size: $small,
    ),
  "medium": (
    font-size: $medium,
    ),
  "large": (
    font-size: $large,
  ),
);

@mixin set-font-size($size-key) {
    $font-size: map-get($font-sizes, $size-key);
    @if $font-size {
      font-size: map-get($font-size, font-size);
    } @else {
      @warn "Font size '#{$size-key}' not found in map.";
    }
  }