@import '../../../Global/GlobalStyles.scss';

.content {
    .post-top-container {
        display: flex;
        flex-direction: column;

        .post-top-container-top {
            display: flex;
            align-items: center;

            .post-top-left {
                display: flex;
    
                .post-top-left-profile {
                    position: relative;
    
                    img {
                        height: 2.5rem;
                        width: 2.5rem;
                        border-radius: 100%;
                    }
    
                    margin-right: 0.5em;
    
                    .online-dot {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 102;
    
                        height: 1em;
                        width: 1em;
                        border: 3px solid white;
                        border-radius: 100%;
    
                        background-color: $online-green;
                    }
                }
    
                .post-top-left-text {
                    display: flex;
                    flex-direction: column;

                    .time-posted {
                        font-size: $small;
                        color: $gray-text-dark;
                    }
                }
            }

            .post-top-right {
                display: flex;
                align-items: flex-start;

                margin-left: auto;

                .icon-container {
                    display: flex;

                    padding: 0.4em;
                    border-radius: 100%;
                    margin-bottom: 0.5em;

                    &:hover {
                        background-color: $hover-white;
                    }

                    svg {
                        height: 1.3em;
                        width: 1.3em;
                        color: $gray-text-dark;
                    }
                }
            }
        }

        .post-top-container-bottom {
            .post-description {
                padding: 0.5em 0;
                font-size: $medium;
            }
        }
    }

    .post-bottom-container {
        .post-bottom-image {
            margin: 0 -1em;

            border-bottom: 1px solid $gray;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}