@import '../../../Global/GlobalStyles.scss';

.profiles-and-pages-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(249, 251, 251, 0.8);

    width: 100vw;
    height: 100vh;

    z-index: 1000;

    .content-container {
        width: 35%;

        .profiles-and-pages-container {
            
        }
    }
}

