@import 'Global/GlobalStyles.scss';

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    padding: 0.4em;
    border-radius: 0.25em;

    gap: 0.35em;

    &:hover {
        background-color: $hover-white;
    }

    svg {
        width: 1.3em;
        height: 1.3em;
        color: $gray-text-dark;
    }

    span {
        margin-top: 0.2em;
        color: $gray-text-dark;
        font-size: $m-l;
        font-weight: 500;
    }

}

.white-bg {
    top: -14.15em;
    right: 0;

    width: 100vw;
    height: 100vh;

}

.image-share-drop-down {
    display: flex;
    flex-direction: column;

    width: 35em;
    height: 45em;

    padding: 0;
}