@import 'Global/GlobalStyles.scss';

.share-button-drop-down-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2em 0.5em;
    padding-bottom: 0.8em;

    h3 {
        font-size: $large;
    }

    .close-btn-container {
        right: 1em;
    }
}

.share-button-drop-down-middle {
    display: flex;
    flex-direction: column;

    padding: 0.6em 1em;

    overflow-y: scroll;

    .share-button-drop-down-middle-text {
        display: flex;
        align-items: center;

        .lock-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 0.8em;
                width: 0.8em;
            }
        }

        span {
            font-size: $xs;
        }
    }

    &-input {
        display: flex;
        align-items: center;

        padding: 0.525em;
        border-radius: 1em;

        width: 100%;

        background-color: $background;

        input {
            border: none;

            width: 100%;

            background-color: transparent;
            font-size: $medium;

            &:focus {
                outline: none;
            }
        }
    }

    &-input-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 0.2em;
        padding: 0 0.2em;

        svg {
            height: 1em;
            width: 1em;
        }
    }

    &-content-container {
        display: flex;

        height: 28em;
    }

    .contacts-container {
        width: 100%;

        padding: 0.5em 0;
    }

    .contact {
        display: flex;
        align-items: center;

        padding: 0.5em;
        border-radius: 0.5em;
        
        width: 100%;

        &:hover {
            background-color: #f2f2f2;

            img {
                filter: brightness(0.95);
            }
        }

        .profile-picture {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 100%;

                width: 42px;
                height: 42px;

                object-fit: cover;
            }

        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 100%;

            width: 42px;
            height: 42px;

            background-color: #e4e6eb;

            svg {
                width: 1.7em;
                height: 1.7em;

                object-fit: cover;

                color: black;
            }
        }

        .username, .title {
            padding-left: 0.6em;
        }

        .title {
            font-weight: normal;
        }

        input {
            margin-left: auto;
            margin-right: 0.2em;

            height: 1.5em;
            width: 1.5em;
        }

        .caret-container {
            margin-left: auto;
            margin-top: 0.15em;

            svg {
                width: 1.7em;
                height: 1.7em;
            }
        }
    }
}