@import '../../GlobalStyles.scss';

.right-side-nav-container {

    .contacts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 22em;

        img {
            border-radius: 100%;
        }

        .title-container {
            display: flex;
            align-items: center;
            
            padding-left: 0.5em;

            .title {
                @include set-font-size("medium");
                width: 100%;
                color: rgb(128, 128, 128);
            }

            .icon {
                display: flex;
                justify-content: center;
                margin-right: 0.5em;


                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    
                    &:hover {
                        background-color: rgb(128, 128, 128, 0.15);
                    }

                    width: 2em;
                    height: 2em;

                    svg {
                        color: rgb(128, 128, 128);
                        height: 1em;
                        width: 1em;
                    }
                }
            }

            
        }
    
        .contact {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0.5em;
    
            gap: 0.6em;
    
            &:hover {
                background-color: rgba(128, 128, 128, 0.15);
            }
    
            border-radius: 0.7em;
    
            img {
                height: 2em;
                height: 2em;
            }

            .profile-pic {
                object-fit: cover;
                max-width: 2em;
                max-height: 2em;
            }
    
            span {
                @include set-font-size ("small");
            }

            .online-dot {
                position: absolute;
                bottom: 0.3em;
                right: 88%;

                border: 2.5px solid white;
                border-radius: 100%;

                width: 0.7em;
                height: 0.7em;

                background-color: $green;
            }
        }
    
        .item-container, #accordion {
            width: 22em;
        }
        
    }
}