@import '../../GlobalStyles.scss';

.group-chat-container {
    .title-container {
        padding-left: 0.5em;
        padding-bottom: 0.5em;

        .title {
            @include set-font-size ("medium");
            color: rgb(128, 128, 128);
        }

    }

    a:visited {
        color: black;
    }

    .item-container {
        display: flex;
        align-items: center;
        padding: 0.5em;
        width: 100%;
    
        gap: 0.6em;

        border-radius: 0.7em;
    
        &:hover {
            background-color: rgba(128, 128, 128, 0.15);
        }
    
        img {
            width: 2em;
            height: 2em;
            border-radius: 100%;
            object-fit: cover;
        }

        .background {
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(128, 128, 128, 0.3);
            border-radius: 100%;
        }
    
        span {
            @include set-font-size ("small");
        }
    }
}