@import '../../GlobalStyles.scss';

.white-bg {
    display: none; //change to flex
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(252, 253, 253, 0.8);
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow: visible;

    .sign-up-container {
        z-index: 102;
        background-color: white;
        width: 27em;
        border-radius: 0.5em;
        box-shadow: $shadow-dark-topless;
    
        .sign-up-top {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $border-black;
            padding: 0.8em 1em;
    
            h4 {
                font-weight: normal;
            }
        }
    
        .sign-up-bottom {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 0.8em 1em;
            
            .top {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
    
                .sign-up-item {
                    display: flex;
                    gap: 0.5em;
                    position: relative;
    
                    input {
                        width: 100%;
                        background-color: $input-gray;
                        border: 1px solid $border-black;
                        border-radius: 0.3em;
                        padding: 0.8em;
                        font-size: $medium;
                        
                        &:focus {
                            outline: none;
                        }
                    }

                }

                //Fix this

                .warning { display: none;}

                // .warning {
                //     position: absolute;
                //     color: white;
                //     background-color: $red;
                //     z-index: 103;
                //     border: 1px solid $border-red;
                //     border-radius: 0.3em;
                //     padding: 1em;
                //     font-size: $small;
            
                // }
            }
    
            .bottom {
                display: flex;
                flex-direction: column;
                gap: 0.5em;            
    
                .question-field {
                    display: flex;
                    flex-direction: column;
    
                    .question {
                        display: flex;
                        align-items: center;
                        font-size: $small;
                        gap: 0.2em;
    
                        span {
                            color: $gray-text-dark;
                        }
    
                        .img-container {
                            display: flex;
                            align-items: center;
    
                            cursor: pointer;
    
                            img {
                                height: 0.8em;
                                width: 0.8em;
                            }
                        }
                    }
                }
    
                //Make it work
                //Fix the styling for the span elements at the bottom
    
                .gender-selectors, .birthday-selectors {
                    display: flex;
                    gap: 0.5em;
                    
                    .selector {
                        margin-top: 0.2em;
                        background-color: transparent;
                        border: 1px solid $border-black;
                        font-size: $medium;
                        padding: 0.5em;
                        width: 100%;
                        border-radius: 0.3em;
                        display: flex;
    
                        label {
                            margin-right: auto;
                        }
                    }
    
                    
                }
    
                .custom-gender-selector {
                    display: none;
                    margin-top: 0.5em;
    
                    .gender-selector {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;
                        width: 100%;
    
                        .selector {
                            margin-top: 0.2em;
                            background-color: transparent;
                            border: 1px solid $border-black;
                            font-size: $medium;
                            padding: 0.5em;
                            width: 100%;
                            border-radius: 0.3em;
                        }
    
                        input {
                            width: 100%;
                            background-color: $input-gray;
                            border: 1px solid $border-black;
                            border-radius: 0.3em;
                            padding: 0.8em;
                            font-size: $medium;
                            
                            &:focus {
                                outline: none;
                            }
                        }
    
                        label {
                            font-size: $xs;
                            color: $gray-text-dark;
                        }
                    }
                }

                .custom-gender-selector.active {
                    display: flex;
                }
    
                .text-container {
                    display: flex;
                    flex-direction: column;

                    .top-span {
                        margin-top: 0.5em;
                    }

                    span {
                        font-size: $xxs;
                        color: $gray-text2;
                        margin-top: 1em;
    
                        a, a:visited {
                            color: $a-blue;
                            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .sign-up {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.8em;
                margin-bottom: 0.5em;
    
                button {
                    background-color: #00a400;
                    color: white;
                    padding: 0.45em 3.5em;
                    border-radius: 0.5em;
                    font-weight: bold;
                    font-size: $large;
                    cursor: pointer;

                    &:hover {
                        background-color: hsl(120, 100%, 35%);
                    }
                }
            }
        }
    }
}

