@import 'Global/GlobalStyles.scss';

.comments-visible {
    margin-bottom: 0.5em;
}

.post-comment-display {
    max-height: 35em;

    overflow: scroll;
    scrollbar-width: thin;


    .post-comment-container {
        display: flex;
        gap: 0.5em;

        padding: 0.5em 0;

        .post-comment-profile-picture {
            margin-top: 0.1em;

            img {
                border-radius: 100%;

                width: 2em;
                height: 2em;
            }
        }

        .post-comment-text {
            display: flex;
            flex-direction: column;

            border-radius: 1em;
            padding: 0.5em;

            height: 100%;

            background-color: $background;
        }

        .post-comment-username {
            font-weight: 600;
            font-size: $small;
        }

        .post-comment {
            font-size: $medium;
        }
    }
}
