.container {
    display: flex;
    flex-direction: column;

    .top-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .item-container {
            display: flex;
            align-items: center;

            img {
                max-width: 2em;
                max-height: 2em;
            }
        }
    }
}