@import '../../GlobalStyles.scss';

.create-story-right {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: end;

    padding: 0.25em;
    padding-right: 0.7em;

    height: 100%;

    nav {
        margin-top: 0;

        .create-story-right-container {
            display: flex;
        }
    } 
}