@import "../../GlobalStyles.scss";

body {
    background-color: white;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $background;

    .log-in-top-container {
        padding: 8.5em 0 13em 0;
        display: flex;
        justify-content: center;
        gap: 3em;

        .log-in-left-container {
            display: flex;
            flex-direction: column;

            .text-container {
                margin-top: 15%;

                h1 {
                    color: $blue;
                    font-size: 3.5em;
                    margin-bottom: 0.2em;
                }
    
                h2 {
                    font-weight: normal;
                }
            }
        }

        .log-in-right-container, .log-in-left-container {
            width: 25%;
        }

        .log-in-right-container {
            display: flex;
            justify-content: center;

            .log-in-component {
                
                width: 25em;
                .log-in {
                    padding: 1em;
                    border-radius: 0.5em;
                    box-shadow: 0 1px 5px $border-black;
                    background-color: white;
                    
                    .component-top {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.7em;
        
                        .email-or-phone-container, .password-container {
                            width: 100%;
                            
                            input {
                                padding: 1em;
                                width: 100%;
                                border: 1px solid $border-black;
                                border-radius: 0.5em;
                                background-color: transparent;
                                color: $gray-text2;
                                font-size: $medium;
                                &:focus {
                                    outline: none;
                                }
                            }
                        } 

                        .log-in-btn {
                            padding: 0.7em;
                            width: 100%;
                            background-color: $blue;
                            color: white;
                            border-radius: 0.5em;
                            font-size: $large;
                            font-weight: bold;
                            cursor: pointer;
                        }

                        a, a:visited{
                            padding: 0.5em 0 0.7em 0;
                           color: $blue;
                           font-size: $small;
                        }
        
                    }

                    .component-bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .create-new-account-btn {
                            padding: 1em;
                            width: 60%;
                            background-color: $green;
                            color: white;
                            border-radius: 0.5em;
                            font-size: $m-l;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }

                .create-a-page {
                    text-align: center;
                    margin-top: 2em;
                    width: 100%;
                    color: #414246;
                    font-size: $small;

                    a, a:visited {
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .log-in-bottom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;


        .content-container {
            display: flex;
            flex-direction: column;
            padding: 2em 0;

            .company {
                margin-top: 2em;
                font-size: $xs;
                color: $gray-text3;
            }

            .languages, .options {
                display: flex;
                justify-content: center;
                
    
                ul {
                    display: flex;
                    gap: 0.3em;
                    width: 60em;
                    flex-wrap: wrap;
                    
                    li {
                        font-size: $xs;
                        color: $gray-text2;
    
                        a, a:visited {
                            color: $gray-text3;
                        }
                    }

                    .add-language {
                        padding: 0 0.5em;
                        background-color: $button;
                        border: 1px solid $gray-text;
                        color: $gray-text2;
                    }
                }
            }

            .options {
                margin-top: -0.3em;

                ul {
                    gap: 0.5em;

                    li {
                        font-size: $xs;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}