@import '../../../Global/GlobalStyles.scss';

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 22em;

    .border-line {
        width: 21em;
    }

    .title-container {
        display: flex;
        align-items: center;
        width: 22em;

        padding: 0em 0em 0.2em 0.5em;

        h1 {
            @include set-font-size ("medium");
            color: rgb(128, 128, 128);
        }

        .edit-btn{
            display: flex;
            align-items: center;
            opacity: 0;

            margin-left: auto;
            border-radius: 0.5em;

            background-color: transparent;
            border: none;

            padding: 0.6em;
            padding-right: 0.65em;

            color: #2d7dfd;

            @include set-font-size ("small");
            
            &:hover {
                background-color: rgba(128, 128, 128, 0.15);
                cursor: pointer;
            }

            &.active {
                opacity: 1;
            }

        }

    }

    .item-container {
        display: flex;
        align-items: center;
        padding: 0.5em;

        gap: 0.6em;

        border-radius: 0.7em;

        &:hover {
            background-color: rgba(128, 128, 128, 0.15);
        }

        img {
            max-width: 2em;
            max-height: 2em;
            border-radius: 0.5em;
        }

        span {
            @include set-font-size ("small");
        }
    }

    .item-container, #accordion {
        width: 22em;
    }
}