@import "../../../Global/GlobalStyles.scss";

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22em;

    .profile {
        img {
            border-radius: 100%;
        }
    }

    .item-container {
        display: flex;
        align-items: center;
        padding: 0.5em;

        gap: 0.6em;
        

        &:hover {
            background-color: rgba(128, 128, 128, 0.15);
        }

        border-radius: 0.7em;

        img, svg {
            width: 2em;
            height: 2em;
        }

        span {
            @include set-font-size ("small");
        }
    }

    .item-container, #accordion {
        width: 22em;
    };

    
}
